<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>David</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="css/Graf_David.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
        <header>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">GrafA03</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li><a href="about">Home</a></li>
                            <li><a href="convert">Convert</a></li>
                            <li><a href="contact">Contact</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Guestbook
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                  <li><a href="guestbook">Guestbook</a></li>
                                  <li><a href="new-entry">New-entry</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <img src="img/headerimage.JPG" alt="Header" id="headerimage">
                </header>
        
    <h1>
        David's Guestbook
        <a href="/new-entry" class="btn btn-primary pull-right">Write in the guestbook</a>
    </h1>
</body>